form {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;
  width: fit-content
}

form label {
  margin: 4px 0;
}

/* .scrollable */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}